<!--================Header Menu Area =================-->
<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container box_1620">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h" href="/writers/home"><img src="/user/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav justify-content-center">
            <li class="nav-item active"><a class="nav-link" href="/writers/home">Home</a></li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Category</a>
              <ul class="dropdown-menu">
                {{#each categories}}
                <li class="nav-item"><a class="nav-link" href="/writers/list_articleByCategory/{{_id}}">{{name}}</a>
                </li>
                {{/each}}
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="/writers/get_addArticle"> Upload </a></li>
            <li class="nav-item"><a class="nav-link" href="/writers/list_all_article"> My Article </a></li>
            <li class="nav-item"><a class="nav-link" href="/writers/list_favorite_article"> My favorite </a></li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false"> {{writerInfo.account_id.username}} </a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="/writers/update_profile/{{writerInfo._id}}">User
                    Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout
                  </a></li>
              </ul>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!--================Header Menu Area =================-->

<main class="site-main">
  <!--================Hero Banner start =================-->
  <section class="mb-30px">
    <div class="container">
      <div class="hero-banner">
        <div class="hero-banner__content">
      
          <h1>Profile</h1>
          
        </div>
      </div>
    </div>
  </section>
  <!--================Hero Banner end =================-->

  <!--================ Start Blog Post Area =================-->
  <section class="blog-post-area section-margin mt-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h2>Your Profile</h2>
          <br>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#menu1">Account information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu2">Change password</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div id="menu1" class="container tab-pane active"><br>
              <h3>Change account information</h3>
              <form action="/writers/update_profile" method="POST" enctype="multipart/form-data">
                {{#if err}}
                <div class="alert alert-info" style="background-color: rgb(168, 220, 230); color:rgb(177, 72, 72); width: 716px;">
                  <strong>{{err}}</strong>
                </div>
                {{/if}}
                <div class="form-group">
                  <label>Upload Avatar: <img src="/uploads/{{writerInfo.avatarImage}}" alt="Avatar Image"
                      style="width: 120px;"></label>
                  <input name="image" type="file">
                </div>
                <div class="form-group">
                  <label>Email: {{writerInfo.email}}</label>
                  <input type="email" class="form-control" name="email" placeholder="Enter email" style="width: 730px;">
                </div>
                <div class="form-group">
                  <label class="bmd-label-floating"> Name: {{writerInfo.name}} </label>
                  <input type="text" class="form-control" name="name" placeholder="Enter full name"
                    style="width: 730px;">
                </div>

                <input type="hidden" name="_id" value="{{writerInfo._id}}">
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </div>
            <div id="menu2" class="container tab-pane fade"><br>
              <h3>Change password</h3>
              <form action="/writers/update_password" method="POST" enctype="application/x-www-form-urlencoded">
                {{#if err}}
                <div class="alert alert-info" style="background-color: rgb(168, 220, 230); color:rgb(177, 72, 72); ">
                  <strong>{{err}}</strong>
                </div>
                {{/if}}
                <div class="form-group">
                  <label>Password: </label>
                  <input type="password" class="form-control" name="pwd" placeholder="Enter new password"
                    style="width: 730px;">
                </div>
                <div class="form-group">
                  <label>Re-Password: </label>
                  <input type="password" class="form-control" name="pwd2" placeholder="Enter re-enter new password"
                    style="width: 730px;">
                </div>
                <input type="hidden" name="_method" value="PUT">
                <input type="hidden" name="_id" value="{{writerAccount._id}}">
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <!-- Start Blog Post Siddebar -->
        <div class="col-lg-4 sidebar-widgets">
          <div class="widget-wrap">
            <div class="single-sidebar-widget popular-post-widget">
              <h4 class="single-sidebar-widget__title">Recent Post</h4>
              <div class="popular-post-list">
                {{#each popularArticles}}
                <div class="single-post-list">
                  <div class="thumb">
                    <img class="card-img rounded-0" src="/uploads/{{articleImage}}" alt="" style="height: 133.39px;">
                    <ul class="thumb-info" style="margin-bottom: 0px;">
                      <li>{{author.name}}</li>
                      <li>{{moment timeCreated format ="MMM DD"}}</li>
                    </ul>
                  </div>
                  <div class="details mt-20">
                    <a href="/writers/writer_blog_detail/{{_id}}">
                      <h6>{{name}}</h6>
                    </a>
                  </div>
                </div>
                {{else}}
                <div class="alert alert-info">There are no content available</div>
                {{/each}}
              </div>
            </div>

            <div class="single-sidebar-widget tag_cloud_widget">
              <h4 class="single-sidebar-widget__title">Tag</h4>
              <ul class="list">
                {{#each tags}}
                <li>
                  <a href="/writers/list_articleByTag/{{_id}}">#{{name}}</a>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
          <!-- End Blog Post Siddebar -->
        </div>
  </section>
  <!--================ End Blog Post Area =================-->
</main>

<!--================ Start Footer Area =================-->
<footer class="footer-area section-padding">
  <div class="container">
    <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
      <p class="footer-text m-0">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        MOH &copy;
        <script>document.write(new Date().getFullYear());</script>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
    </div>
  </div>
</footer>
<!--================ End Footer Area =================-->