<!--================Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="/writers/home"><img src="/user/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-center">
                        <li class="nav-item active"><a class="nav-link" href="/writers/home">Home</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Category</a>
                            <ul class="dropdown-menu">
                                {{#each category}}
                                <li class="nav-item"><a class="nav-link"
                                        href="/writers/list_articleByCategory/{{_id}}">{{name}}</a></li>
                                {{/each}}
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/writers/get_addArticle"> Upload </a></li>
                        <li class="nav-item"><a class="nav-link" href="/writers/list_all_article"> My Article </a></li>
                        <li class="nav-item"><a class="nav-link" href="/writers/list_favorite_article"> My favorite </a>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false"> {{writerInfo.account_id.username}} </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link"
                                        href="/writers/update_profile/{{writerInfo._id}}">User
                                        Profile</a></li>
                                <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout
                                    </a></li>
                            </ul>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================Header Menu Area =================-->

<main class="site-main">
    <!--================Hero Banner start =================-->
    <section class="mb-30px">
        <div class="container">
            <div class="hero-banner">
                <div class="hero-banner__content">
                    <h1>Upload New Article</h1>
                </div>
            </div>
        </div>
    </section>
    <!--================Hero Banner end =================-->

    <!--================ Start Blog Post Area =================-->
    <section class="blog-post-area section-margin"> 
    <div class="container mt-3">
        <h2>Upload new article</h2>
        <br>
        <div class="card-body">
            <form action="/writers/add_Article" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Upload Image: </label>
                            <input name="image" type="file" required>
                        </div>
                        <div class="form-group">
                            <label class="bmd-label-floating"> Title: </label>
                            <input class="form-control" name="name" type="text" required>
                        </div>
                        <div class="form-group">
                            <label class="bmd-label-floating"> Description: </label>
                            <input class="form-control" name="desc" type="text" required>
                        </div>
                        <div class="form-group">
                            <label for="inputDesc">Categories</label>
                            <select class="form-select" name="category" aria-label=".form-select-lg example"
                                style="width: 1085px;height: 40px" required>
                                <option value="" disabled selected>Choose your category</option>
                                {{#each category}}
                                <option value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating"> New Tag </label>
                                    <input class="form-control" name="tag_name" type="text" placeholder="Enter the tag" style="width: 240px">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="bmd-label-floating">Or select tag </label> <br>
                                    <select class="form-select" name="tag_id" aria-label=".form-select-lg example"
                                        style="width: 160px;height: 70px" multiple>
                                        {{!-- <option value="" disabled selected>Choose your tag</option> --}}
                                        {{#each tags}}
                                        
                                        <option value="{{_id}}">{{name}} </option>
                                        <option value="" disabled="disabled">—————————————</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="content" id="content" rows="11" cols="80">
                                This is content area
                            </textarea>
                        </div>
                    </div>
                </div>
        </div>
            <button type="submit" class="btn btn-primary pull-right" style="margin-right: 957px;"> Adding new
                article</button>
        </form>
    </div>
    </section>
    <!--================ End Blog Post Area =================-->
</main>

<!--================ Start Footer Area =================-->
<footer class="footer-area section-padding">
    <div class="container">
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p class="footer-text m-0">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
               MOH &copy;
        <script>document.write(new Date().getFullYear());</script>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>
<!--================ End Footer Area =================-->
<script>
    CKEDITOR.replace('content' {
        extraPlugins: 'filebrowser',
        filebrowserBrowseUrl: 'list', //upload location
        filebrowserUploadMethod: 'form',
        filebrowserUploadUrl: '/upload' //route
    });
</script>