<!--================Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="/writers/home"><img src="/user/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-center">
                        <li class="nav-item active"><a class="nav-link" href="/writers/home">Home</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Category</a>
                            <ul class="dropdown-menu">
                                {{#each categories}}
                                <li class="nav-item"><a class="nav-link"
                                        href="/writers/list_articleByCategory/{{_id}}">{{name}}</a></li>
                                {{/each}}
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/writers/get_addArticle"> Upload </a></li>
                        <li class="nav-item"><a class="nav-link" href="/writers/list_all_article"> My Article </a></li>
                        <li class="nav-item"><a class="nav-link" href="/writers/list_favorite_article"> My favorite </a>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false"> {{writerArticle.account_id.username}} </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link"
                                        href="/writers/update_profile/{{writerArticle._id}}">User
                                        Profile</a></li>
                                <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout
                                    </a></li>
                            </ul>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================Header Menu Area =================-->

<main class="site-main">
    <!--================Hero Banner start =================-->
    <section class="mb-30px">
        <div class="container">
            <div class="hero-banner">
                <div class="hero-banner__content">
                    <h1>List Of Article</h1>
                </div>
            </div>
        </div>
    </section>
    <!--================Hero Banner end =================-->

    <!--================ Start Blog Post Area =================-->
    <section class="blog-post-area section-margin mt-3">
        <div class="container mt-3">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Article Image
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Categories
                            </th>
                            <th>
                                Tags
                            </th>
                            <th>
                                Time Created
                            </th>
                            <th>
                                Status
                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                        </thead>
                        <tbody>
                            {{#each article}}
                            <tr>
                                <td>
                                    <img src="/uploads/{{articleImage}}" alt="Article Image" style="width: 120px;">
                                </td>
                                <td>
                                    {{name}}
                                </td>
                                <td>
                                    {{desc}}
                                </td>
                                <td>
                                    {{category_id.name}}
                                </td>
                                <td>
                                    {{#each tag_id}}
                                    {{name}}
                                    {{/each}}
                                </td>
                                <td>
                                    {{moment timeCreated format ="MMMM DD - YYYY"}}
                                </td>
                                <td>
                                    {{status}}
                                </td>
                                <td>
                                    <button><a href="writer_blog_detail/{{_id}}"> <i
                                                class="far fa-eye"></i></a></button>
                                </td>
                                <td>
                                    <form action="/writers/delete_article" method="POST"
                                        enctype="application/x-www-form-urlencoded">
                                        <input type="hidden" name="_id" value="{{_id._id}}">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </form>
                                </td>
                                <td>
                                    <a href="/writers/update_article/{{_id}}">
                                        <button><i class="fa fa-file" aria-hidden="true"></i></button>
                                    </a>
                                </td>
                            </tr>
                            {{else}}
                            <tr>
                                <td colspan="6">
                                    <div class="alert alert-info">There are no content available</div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>
    <!--================ End Blog Post Area =================-->
</main>

<!--================ Start Footer Area =================-->
<footer class="footer-area section-padding">
    <div class="container">
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p class="footer-text m-0">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                MOH &copy;
                <script>document.write(new Date().getFullYear());</script>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>
<!--================ End Footer Area =================-->
<script>
    CKEDITOR.replace('content' {
        extraPlugins: 'filebrowser',
        filebrowserBrowseUrl: 'list', //upload location
        filebrowserUploadMethod: 'form',
        filebrowserUploadUrl: '/upload' //route
    });
</script>